.additional-advantages {
  background-color: @gray-base;

  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.additional-advantages__title {
  .fat-text();
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-base;
  background-color: inherit;
}

.additional-advantages__number,
.additional-advantages__text {
  .slim-text();
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @sub-black;
  background-color: inherit;
}
