.advantages__main-title {
  margin: 0;
  padding: 0 20px;
  padding-bottom: 12px;
  .slim-text();
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: @sub-black;

  @media (min-width: @tablet-width) {
    padding-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 41px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
}
