.advantages__main-title {
  font-family: @font-family-base;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: @sub-black;
}
.main-advantages__title,
.additional-advantages__title,
.advices-list__item-title {
  font-family: @font-family-base;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.main-advantages__number,
.main-advantages__text,
.additional-advantages__number,
.additional-advantages__text,
.advices-list__item-text {
  font-family: @font-family-base;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.main-advantages__title,
.main-advantages__number,
.main-advantages__text {
  color: @white-base;
}
.additional-advantages__title,
.advices-list__item-title {
  color: @black-base;
}
.additional-advantages__number,
.additional-advantages__text,
.advices-list__item-text {
  color: @sub-black;
}
.main-advantages__wrapper,
.main-advantages__image {
  background: @blue-base;
}
.additional-advantages {
  background: @gray-base;
}
