.advices-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 70px;
  padding-right: 20px;
  list-style: none;
  text-align: left;
  background-color: @white-base;

  @media (min-width: @tablet-width) {
    padding: 0;
    text-align: center;
  }
}

.advices-list__item {
  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.advices-list__item-title {
  .fat-text();
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-base;
  background-color: inherit;
}

.advices-list__item-text {
  .slim-text();
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @sub-black;
  background-color: inherit;
}
