.contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.contacts-list__label {
  .slim-text();
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: @sub-black;
}

.contacts-list__input {
  .fat-text();
  font-size: 18px;
  line-height: 26px;
  color: @black-base;
}

.contacts-list__input::placeholder {
  color: @black-base;
}
