.hotel-search__title {
  font-family: @font-family-base;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-base;
}

.hotel-search__text {
  font-family: @font-family-base;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @sub-black;
}

.hotel-search__button {
  margin: 0 20px;
  font-family: @font-family-base;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background: @blue-base;
}

.hotel-search__link {
  color: @white-base;
}
