.impression-list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin-top: 38px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 30px;
    margin-bottom: 48px;
  }
}

.impression-list__item {
  margin-bottom: 12px;
  padding: 16px 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.impression-list__label {
  position: relative;
  padding-left: 78px;
  .fat-text();
  font-size: 18px;
  line-height: 26px;
  color: @black-base;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-left: 75px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 79px;
  }

  &::before {
    position: absolute;
    content: "";
    top: -17px;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 5px solid @sub-white;
    background-color: @sub-white;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 17px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid @sub-black;
    background-color: @sub-black;
  }

  &:hover::before {
    border-color: @gray-base--disabled;
    background-color: @gray-base--disabled;
  }

  &:active {
    &::before {
      border-color: @gray-border-light;
      background-color: @gray-border-light;
    }

    &::after {
      opacity: 0.3;
    }
  }
}

.impression-list__input {
  & + .impression-list__label::after {
    display: none;
  }

  &:checked + .impression-list__label::after {
    display: block;
  }

  &:checked:focus ~ .impression-list__label::before {
    border-color: @gray-base--disabled;
    background-color: @white-base;
  }
}
