.info-send {
  text-align: center;
  background-color: @blue-base;
}

.info-send__button {
  .fat-text();
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: 0;
  color: @white-base;
  background-color: inherit;
}
