.info-send__button {
  .fat-text();
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: 0;
  color: @white-base;
  background-color: @blue-base;
}

.info-send__notice {
  display: none;
  .slim-text();
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: @sub-black;

  @media (min-width: @tablet-width) {
    display: block;
    margin-left: auto;
    text-align: right;
  }
}
