.info-emotions {
  margin: 0;
  padding: 0;
  border: none;
}

.info-emotions__title {
  .fat-text();
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-base;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.info-emotions__text {
  width: 100%;
  height: 160px;
  padding: 10px 20px;
  .fat-text();
  font-size: 18px;
  line-height: 26px;
  color: @black-base;
  background-color: @sub-white;
  border: 4px solid @sub-white;
  box-sizing: border-box;

  &::placeholder {
    color: @black-base;
  }

  &:hover {
    background-color: @gray-base--disabled;
    border-color: @gray-base--disabled;
  }

  &:focus {
    background-color: @white-base;
    border: 4px solid @gray-base--disabled;
    outline: none;
  }
}
