.info-data {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.info-data__title {
  .fat-text();
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-base;
}
