.info-emotions {
  margin: 0;
  padding: 0;
  border: none;
}

.info-emotions__title {
  .fat-text();
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-base;
}

.info-emotions__text {
  .fat-text();
  font-size: 18px;
  line-height: 26px;
  color: @black-base;
}

.info-emotions__text::placeholder {
  color: @black-base;
}
