.main-advantages {
  display: flex;
  flex-wrap: wrap;
  background-color: @blue-base;
}

.main-advantages__wrapper {
  background-color: inherit;

  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.main-advantages__title {
  .fat-text();
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @white-base;
  background-color: inherit;
}

.main-advantages__number,
.main-advantages__text {
  .slim-text();
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @white-base;
  background-color: inherit;
}

.main-advantages__image {
  @media (min-width: @tablet-width) {
    width: 512px;

    &--order {
      order: -1;
    }
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}
