.page-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: @mobile-width;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: @white-base;
  box-sizing: border-box;
  box-shadow: 0 7px 15px fade(@black-shadow, 15%);

  &--show {
    display: block;
  }

  @media (min-width: @tablet-width) {
    &--error {
      width: 400px;
    }
    &--success {
      width: 648px;
    }
  }
}

.page-modal__title {
  .fat-text();
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-base;
  background-color: inherit;
}

.page-modal__text {
  .slim-text();
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @sub-black;
  background-color: inherit;
}
