.page-main {
  text-align: center;
}

.page-main__title {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  .fat-text();
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-base;

  @media (min-width: @tablet-width) {
    width: 520px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 21px;

    & br {
      display: none;
    }
  }
}

.page-main__text {
  margin: 0;
  padding: 0 20px;
  .slim-text();
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @sub-black;
}

.page-main__advantages {
  margin: 0 auto;
}

.page-main__hotel-search {
  margin: 0 auto;
  padding: 33px 20px 49px 20px;

  @media (min-width: @tablet-width) {
    width: 458px;
    padding: 58px 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 66px;
  }
}

.page-main__photo-gallery {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.page-main__reviews-form {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }
}
