.page-modal {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: @white-base;
  box-sizing: border-box;
  box-shadow: 0px 7px 15px @black-shadow;
}

.page-body > .page-modal--error {
  top: 25px;
  width: @mobile-width;

  @media (min-width: @tablet-width) {
    width: 400px;
  }
}

.page-body > .page-modal--success {
  top: 250px;
  width: @mobile-width;

  @media (min-width: @tablet-width) {
    width: 640px;
  }
}

.page-modal__title {
  .fat-text();
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-base;
  background-color: inherit;
}

.page-modal__text {
  .slim-text();
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @sub-black;
  background-color: inherit;
}

.page-modal--error .info-send__button {
  width: 280px;
}

.page-modal--success .info-send__button {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 460px;
  }
}
