.page-footer {
  display: grid;
  min-height: 233px;
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 120px;
  }
}

.page-footer__hashtag {
  margin: auto 0;
}

.page-footer__socials {
  margin: auto 0;
}

.page-footer__designers {
  margin: auto 0;
}
