.photo {
  background-color: inherit;
}

.photo__info {
  @media (min-width: @desktop-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    box-sizing: border-box;

    &--first {
      width: 1200px;
    }
  }
}
