.photo-info {
  padding: 0 20px;
  text-align: left;
}

.photo-info__title,
.photo-info__likes-number {
  .fat-text();
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @black-base;
}

.photo-info__author {
  .slim-text();
  font-size: 14px;
  line-height: 24px;
  color: @sub-black;
}
