.reviews-form {
  display: flex;
  flex-wrap: wrap;
}

.reviews-form__fieldset {
  width: 100%;
}

.reviews-form__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.reviews-form__button .info-send__button {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 320px;
  }

  @media (min-width: @desktop-width) {
    width: 480px;
  }
}
