.reviews-form {
  display: flex;
  flex-wrap: wrap;
}

.reviews-form__fieldset {
  width: 100%;
}

.reviews-form__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
