.site-list__item {
  font-family: @font-family-base;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background: @blue-base;
}
.site-list__item a {
  color: @white-base;
}
