.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  .fat-text();
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: @blue-base;
}

.site-list__item-link {
  color: @white-base;
}
