.site-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.site-list__item {
  .fat-text();
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  color: @white-base;
  background-color: @blue-base;

  @media (min-width: @tablet-width) {
    width: 153px;
    color: @black-base;
    background-color: @white-base;

    &:nth-child(4n+3) {
      margin-left: auto;
    }

    &--current {
      color: @brown-base;
    }
  }

  @media (min-width: @desktop-width) {
    width: 240px;
  }
}

.site-list__item-link {
  color: inherit;
}
