.video-gallery__title {
  .fat-text();
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-base;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.video-gallery__text {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 34px;
  padding: 0 25px;
  .slim-text();
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @sub-black;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
    margin-bottom: 81px;
    padding: 0 95px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 79px;
    padding: 0 255px;
  }
}
