.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}
